/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.sec-title {
    color: #181818;
    text-align: center;
    padding-top:5px;
    font-size: 35px;
    font-weight: 700;
}

.sec-desc{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Navbar style */
.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 30px
}

/* header styles */
header {
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 584px;
    height: 676px;
}

.greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.bnr-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 500px;
}

/*============ main section style =========*/

main{
    max-width: 1140px;
    margin:0 auto;
}
/* about section styles */
.about{
    margin:0 130px;
    background: #FFF8F3;
    border-radius: 10px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    font-weight: 400;

}
.about-info{
    text-align: center;
    font-style: bold;
    /* font-weight: 700; */
}


/* skill related styles */
.skill-container{
    display: flex;


}
.skill{
    padding:20px;
    margin:0 20px;
    width: 267px;
height: 350px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px #FFF8F3;
}
.skill img{
    width: 44px;
height: 44px;

}
.skill-title{
    color: #181818;
text-align: left;
font-size: 20px;
font-weight: 700;
}
.skill-desc{
    display: flex;
width: 201px;
color: #757575;
font-size: 16px;
font-weight: 400;
}


/* resume section */
.col-title{
    color:#474747;
font-size: 30px;
font-weight: 700;
}
.resume-col{
    
}